body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./white-and-blue-tone-abstract-background-backdrop-for-presentation-design-for-website-concept-of-beauty-and-health-business-brochure-free-photo.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
}
.Header-main{
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.Header-main img{
  height: 100px;
}
.University-name{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-style: oblique;
}
.Header-time{
  color: white;
}
.field-fill{
  box-shadow: 0px 0px 2px black inset;
  background-color: aqua;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
}
@media only screen and (max-width:800px){
  .Header-main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
  }
}
/* Input field css */
form{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.InputPage-main{
  margin: 20px auto;
  padding: 5px 20px;
  display:grid;
  grid-template-columns: 40vw 40vw ;

  row-gap: 0px;
  column-gap: 20px;
  /* column-gap: 30px; */
}
.InputPage-Labels{
  text-wrap:wrap;
  margin: 2px;
  font-size: 20px;
  text-shadow: 0px 0px 1px rgb(120, 119, 119);
  padding: 5px;
}
.InputPage-field{
  outline: none;
  margin: 10px;
  border: 1px solid rgb(97, 97, 97);
  background-color: rgba(255, 255, 255, 0.352);
  padding: 10px;
  font-size: 20px;
}
.submitButton{
  width: 150px;
  height: 50px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.578);
  margin: 20px auto;
}
@media only screen and (max-width:500px)
{
  .InputPage-main{
    margin: 20px auto;
    padding: 5px 10px;
    display:grid;
    grid-template-columns: 90vw ;
    /* column-gap: 20px; */
  }
}